.carousel-canvas {
  position: absolute;
  inset: 0;
}

.carousel-canvas ~ .ps1-btn {
  position: absolute;
  top: 78%;
  transform: translateY(-50%);
  z-index: 10;
}

.carousel-canvas ~ .ps1-btn:active {
  transform: translateY(-50%) translate(4px, 4px);
}

.carousel-canvas ~ .ps1-btn--left {
  left: 5%;
}

.carousel-canvas ~ .ps1-btn--right {
  right: 5%;
}
