html,
body,
#root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  top: 0;
  left: 0;
}

body {
  background-color: var(--background);
  color: var(--color-white);
}

h1, h2, h3, h4, h5, h6, p, a, small, strong, span {
  color: var(--color-white);
}
